@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #3b82f6;
    border-radius: 12px;
  

}
::-webkit-scrollbar-track{
   background-color: #e5e7eb;
}
.roboto{
    font-family: "Roboto", sans-serif;
}

.monospace{
    font-family: monospace;
}

